{
  "openapi": "3.0.3",
  "info": {
    "title": "Lending Experience Loans API",
    "description": "The Lending Experience Loans API exposes the loan-origination resources used to build and submit an SBA lending application: applications and their supporting records, loan parties, collateral, sources and uses, documents, issues, compliance screening, and validation.\n\n## Base URL\n\nAll paths in this document are relative to `https://developer.sba.gov/origination/api/v1`.\n\n## Authentication\n\nEvery operation requires an authenticated session. Sign in first, then send the `sessionid` cookie with each request. Unsafe requests (`POST`, `PUT`, `PATCH`, `DELETE`) must additionally send the matching CSRF token in the `X-CSRFToken` header; requests without it are rejected with `403 Forbidden`.\n\n## Media types\n\nRequest and response bodies are `application/json` unless stated otherwise. File uploads use `multipart/form-data`, and document downloads return the stored binary content.\n\n## Pagination\n\nCollection endpoints return a page object with `count`, `next`, `previous`, and `results`. Use `limit` and `offset` (or `page`, where documented) to move through a collection, and `ordering` to sort it.\n\n## Errors\n\nFailures return a JSON body. Validation failures (`400`) report messages keyed by field name; other failures return a `detail` message.\n\nAll examples in this document are fictional.",
    "version": "1.0.0",
    "contact": {
      "name": "SBA Lending Experience API Support",
      "url": "https://developer.sba.gov/"
    },
    "license": {
      "name": "U.S. Government Work",
      "url": "https://www.usa.gov/government-works"
    }
  },
  "servers": [
    {
      "url": "https://developer.sba.gov/origination/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "sessionCookie": []
    }
  ],
  "tags": [
    {
      "name": "Loan Applications",
      "x-displayName": "Loan Applications",
      "description": "Create, retrieve, update, and submit lending applications."
    },
    {
      "name": "Loan Application Supporting Resources",
      "x-displayName": "Loan Application Supporting Resources",
      "description": "Records attached to a lending application: project details, agents and their services, credit-elsewhere explanations, associated users, terms periods, and use of proceeds."
    },
    {
      "name": "Loan Tasks and Comments",
      "x-displayName": "Loan Tasks and Comments",
      "description": "Tasks raised against a lending application and the comments recorded on them."
    },
    {
      "name": "Affiliated Loans",
      "x-displayName": "Affiliated Loans",
      "description": "Existing SBA loans affiliated with the applicant or its owners."
    },
    {
      "name": "Collateral Assets",
      "description": "Create collateral assets associated with a lending application.",
      "x-displayName": "Collateral Assets"
    },
    {
      "name": "Titled Assets",
      "description": "Add titled-property information to a collateral asset.",
      "x-displayName": "Titled Assets"
    },
    {
      "name": "Lienholders",
      "description": "Add prior lienholders associated with collateral.",
      "x-displayName": "Lienholders"
    },
    {
      "name": "Pledgers",
      "description": "Associate a business or person with collateral being pledged.",
      "x-displayName": "Pledgers"
    },
    {
      "name": "Companies",
      "description": "Manage current company profiles.",
      "x-displayName": "Companies"
    },
    {
      "name": "Company Snapshots",
      "description": "Preserve and retrieve historical company profiles.",
      "x-displayName": "Company Snapshots"
    },
    {
      "name": "Company Employees",
      "description": "Manage people associated with companies.",
      "x-displayName": "Company Employees"
    },
    {
      "name": "Company Employee Snapshots",
      "description": "Preserve and retrieve historical employee profiles.",
      "x-displayName": "Company Employee Snapshots"
    },
    {
      "name": "Loan Application Documents",
      "description": "Retrieve document requirements for a loan application.",
      "x-displayName": "Loan Application Documents"
    },
    {
      "name": "Document Files",
      "description": "Validate, upload, and download document files.",
      "x-displayName": "Document Files"
    },
    {
      "name": "Loan Application Issues",
      "description": "Operations for issues and requests associated with loan applications.",
      "x-displayName": "Loan Application Issues"
    },
    {
      "name": "Businesses",
      "x-displayName": "Businesses",
      "description": "Businesses added to a lending application as loan parties."
    },
    {
      "name": "Individuals",
      "x-displayName": "Individuals",
      "description": "Individuals added to a lending application as loan parties."
    },
    {
      "name": "Ownership Relationships",
      "x-displayName": "Ownership Relationships",
      "description": "Ownership interests held by individuals and businesses in the businesses on a lending application."
    },
    {
      "name": "Business Eligibility",
      "x-displayName": "Business Eligibility",
      "description": "Eligibility assessments recorded for the businesses on a lending application."
    },
    {
      "name": "Agents",
      "description": "Organizations or service agents available as reference values.",
      "x-displayName": "Agents"
    },
    {
      "name": "Countries",
      "description": "Countries identified by a short code and display name.",
      "x-displayName": "Countries"
    },
    {
      "name": "Franchises",
      "description": "Franchise reference values identified by a code and display name.",
      "x-displayName": "Franchises"
    },
    {
      "name": "Index Source Rates",
      "description": "Historical and current rate records associated with supported index sources.",
      "x-displayName": "Index Source Rates"
    },
    {
      "name": "NAICS Codes",
      "description": "Industry classification codes and associated eligibility limits.",
      "x-displayName": "NAICS Codes"
    },
    {
      "name": "Applicant Equity Injection Sources",
      "x-displayName": "Applicant Equity Injection Sources",
      "description": "Sources of the equity the applicant is injecting into the project."
    },
    {
      "name": "Other Financing Sources",
      "x-displayName": "Other Financing Sources",
      "description": "Financing for the project that comes from sources other than this loan."
    },
    {
      "name": "Loan Application Uses",
      "x-displayName": "Loan Application Uses",
      "description": "How the requested funds and other project financing will be used."
    },
    {
      "name": "Loan Application Use Addresses",
      "x-displayName": "Loan Application Use Addresses",
      "description": "Addresses linked to an individual use of proceeds."
    },
    {
      "name": "Compliance Checks",
      "description": "Screening results returned by supported compliance services.",
      "x-displayName": "Compliance Checks"
    },
    {
      "name": "Compliance Alerts",
      "description": "Alerts requiring review, resolution, or decline action.",
      "x-displayName": "Compliance Alerts"
    },
    {
      "name": "Validation",
      "description": "Validation execution and validation failure resources.",
      "x-displayName": "Validation"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Lending Experience Loans API",
      "tags": [
        "Loan Applications",
        "Loan Application Supporting Resources",
        "Loan Tasks and Comments",
        "Affiliated Loans"
      ]
    },
    {
      "name": "SBA Lending Experience - Collateral Workflow API",
      "tags": [
        "Collateral Assets",
        "Titled Assets",
        "Lienholders",
        "Pledgers"
      ]
    },
    {
      "name": "Company and Business Contact Information Endpoints",
      "tags": [
        "Companies",
        "Company Snapshots",
        "Company Employees",
        "Company Employee Snapshots"
      ]
    },
    {
      "name": "SBA Lending Experience - Document Workflow API",
      "tags": [
        "Loan Application Documents",
        "Document Files"
      ]
    },
    {
      "name": "Loan Application Issue Management Endpoints",
      "tags": [
        "Loan Application Issues"
      ]
    },
    {
      "name": "Lending Experience API - Reduced Loan Party Endpoints",
      "tags": [
        "Businesses",
        "Individuals",
        "Ownership Relationships",
        "Business Eligibility"
      ]
    },
    {
      "name": "Lending Experience Reference Data Endpoints",
      "tags": [
        "Agents",
        "Countries",
        "Franchises",
        "Index Source Rates",
        "NAICS Codes"
      ]
    },
    {
      "name": "SBA Lender Experience Sources and Uses - Create Endpoints",
      "tags": [
        "Applicant Equity Injection Sources",
        "Other Financing Sources",
        "Loan Application Uses",
        "Loan Application Use Addresses"
      ]
    },
    {
      "name": "Compliance Screening and Alert Management API",
      "tags": [
        "Compliance Checks",
        "Compliance Alerts"
      ]
    },
    {
      "name": "TBD Lender Experience Validation API",
      "tags": [
        "Validation"
      ]
    }
  ],
  "paths": {
    "/loan-apps/": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "List loan applications",
        "description": "Returns a limit/offset-paginated collection filtered by the configured LoanAppFilter and ordering backend.",
        "operationId": "listLoanApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          },
          {
            "$ref": "#/components/parameters/OptionalFields"
          },
          {
            "$ref": "#/components/parameters/LoanAppState"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated loan applications.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanAppPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create a loan application",
        "description": "Validates and persists blended LOAPI and LX loan-application data.",
        "operationId": "createLoanApp",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanAppRequest"
              },
              "example": {
                "program": "7(a)",
                "processing_method_code": "Standard",
                "lender_location_id": 1001,
                "calendar_basis": "Actual/365",
                "is_app_structured_as_epc_oc": true,
                "is_funded_by_robs": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan application created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve a loan application",
        "description": "Returns a single lending application, including its current state and the values captured so far.",
        "operationId": "getLoanAppById",
        "responses": {
          "200": {
            "description": "Loan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApp"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Partially update a loan application",
        "description": "Updates only the supplied fields on a lending application. Fields that are omitted keep their current values.",
        "operationId": "partiallyUpdateLoanApp",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanAppRequest"
              },
              "example": {
                "program": "7(a)",
                "processing_method_code": "Standard",
                "lender_location_id": 1002,
                "calendar_basis": "Actual/365",
                "is_app_structured_as_epc_oc": true,
                "is_funded_by_robs": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated loan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/submit/": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Submit a loan application",
        "description": "Submits a completed lending application for review. The application must pass validation; if it does not, the response reports the outstanding problems and the application stays in its current state.",
        "operationId": "submitLoanApp",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Loan application submitted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ]
    },
    "/loan-apps/{id}/send-lender-requests/": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Send lender requests",
        "description": "Sends the outstanding requests recorded on the application to the lender and moves the application into the state that reflects those requests.",
        "operationId": "sendLoanAppLenderRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Lender request state transition completed."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ]
    },
    "/loan-apps/{id}/associated-documents/": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "List associated documents",
        "description": "Returns metadata for the documents associated with a lending application, so that a client can list them without downloading their contents.",
        "operationId": "listLoanAppAssociatedDocuments",
        "responses": {
          "200": {
            "description": "Associated document metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssociatedDocument"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ]
    },
    "/loan-app-project-details/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List project detail records",
        "description": "Project details describe the location and characteristics of the project financed by a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppProjectDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of project detail records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create a project detail record",
        "description": "Creates a new project detail record. Project details describe the location and characteristics of the project financed by a lending application.",
        "operationId": "createLoanAppProjectDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project detail record was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-project-details/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve a project detail record",
        "description": "Returns a single project detail record by identifier.",
        "operationId": "getLoanAppProjectDetail",
        "responses": {
          "200": {
            "description": "The requested project detail record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update a project detail record",
        "description": "Updates only the supplied fields on an existing project detail record.",
        "operationId": "partiallyUpdateLoanAppProjectDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated project detail record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-project-details/{id}/refresh-esri/": {
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Refresh ESRI project address data",
        "description": "Re-runs the geographic lookup for the project address and stores the refreshed location data on the project details record. Requires the record to have an address.",
        "operationId": "refreshLoanAppProjectDetailsEsri",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "200": {
            "description": "ESRI data refreshed when an address exists."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ]
    },
    "/loan-app-agents/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List agent associations",
        "description": "Agent associations link an agent to a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppAgents",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of agent associations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create an agent association",
        "description": "Creates an new agent association. Agent associations link an agent to a lending application.",
        "operationId": "createLoanAppAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The agent association was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agents/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve an agent association",
        "description": "Returns a single agent association by identifier.",
        "operationId": "getLoanAppAgent",
        "responses": {
          "200": {
            "description": "The requested agent association.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update an agent association",
        "description": "Updates only the supplied fields on an existing agent association.",
        "operationId": "partiallyUpdateLoanAppAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated agent association.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete an agent association",
        "description": "Permanently removes an agent association.",
        "operationId": "deleteLoanAppAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The agent association was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agent-services/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List agent service records",
        "description": "Agent service records capture the services an agent provides and the fees charged for them. Results are returned as a page of records.",
        "operationId": "listLoanAppAgentServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of agent service records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create an agent service record",
        "description": "Creates an new agent service record. Agent service records capture the services an agent provides and the fees charged for them.",
        "operationId": "createLoanAppAgentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The agent service record was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agent-services/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve an agent service record",
        "description": "Returns a single agent service record by identifier.",
        "operationId": "getLoanAppAgentService",
        "responses": {
          "200": {
            "description": "The requested agent service record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update an agent service record",
        "description": "Updates only the supplied fields on an existing agent service record.",
        "operationId": "partiallyUpdateLoanAppAgentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated agent service record.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete an agent service record",
        "description": "Permanently removes an agent service record.",
        "operationId": "deleteLoanAppAgentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The agent service record was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-credit-unavailable-elsewhere-explanations/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List credit-unavailable-elsewhere explanations",
        "description": "Explanations recording why credit is not available to the applicant elsewhere on reasonable terms. Results are returned as a page of records.",
        "operationId": "listCreditUnavailableElsewhereExplanations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of credit-unavailable-elsewhere explanations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create a credit-unavailable-elsewhere explanation",
        "description": "Creates a new credit-unavailable-elsewhere explanation. Explanations recording why credit is not available to the applicant elsewhere on reasonable terms.",
        "operationId": "createCreditUnavailableElsewhereExplanation",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The credit-unavailable-elsewhere explanation was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-credit-unavailable-elsewhere-explanations/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve a credit-unavailable-elsewhere explanation",
        "description": "Returns a single credit-unavailable-elsewhere explanation by identifier.",
        "operationId": "getCreditUnavailableElsewhereExplanation",
        "responses": {
          "200": {
            "description": "The requested credit-unavailable-elsewhere explanation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update a credit-unavailable-elsewhere explanation",
        "description": "Updates only the supplied fields on an existing credit-unavailable-elsewhere explanation.",
        "operationId": "partiallyUpdateCreditUnavailableElsewhereExplanation",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated credit-unavailable-elsewhere explanation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete a credit-unavailable-elsewhere explanation",
        "description": "Permanently removes a credit-unavailable-elsewhere explanation.",
        "operationId": "deleteCreditUnavailableElsewhereExplanation",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The credit-unavailable-elsewhere explanation was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-associated-users/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List associated users",
        "description": "Users granted access to work on a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppAssociatedUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of associated users.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create an associated user",
        "description": "Creates an new associated user. Users granted access to work on a lending application.",
        "operationId": "createLoanAppAssociatedUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The associated user was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-associated-users/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete an associated user",
        "description": "Permanently removes an associated user.",
        "operationId": "deleteLoanAppAssociatedUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The associated user was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-terms-periods/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List terms periods",
        "description": "Terms periods describe the interest rate and payment terms that apply during part of the life of the loan. Results are returned as a page of records.",
        "operationId": "listLoanAppTermsPeriods",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of terms periods.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create a terms period",
        "description": "Creates a new terms period. Terms periods describe the interest rate and payment terms that apply during part of the life of the loan.",
        "operationId": "createLoanAppTermsPeriod",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The terms period was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-terms-periods/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve a terms period",
        "description": "Returns a single terms period by identifier.",
        "operationId": "getLoanAppTermsPeriod",
        "responses": {
          "200": {
            "description": "The requested terms period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update a terms period",
        "description": "Updates only the supplied fields on an existing terms period.",
        "operationId": "partiallyUpdateLoanAppTermsPeriod",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated terms period.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete a terms period",
        "description": "Permanently removes a terms period.",
        "operationId": "deleteLoanAppTermsPeriod",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The terms period was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-use-of-proceeds/": {
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "List use-of-proceeds entries",
        "description": "Use-of-proceeds entries record how the requested loan funds will be spent. Results are returned as a page of records.",
        "operationId": "listLoanAppUseOfProceedss",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of use-of-proceeds entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Create an use-of-proceeds entry",
        "description": "Creates an new use-of-proceeds entry. Use-of-proceeds entries record how the requested loan funds will be spent.",
        "operationId": "createLoanAppUseOfProceeds",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The use-of-proceeds entry was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-use-of-proceeds/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Retrieve an use-of-proceeds entry",
        "description": "Returns a single use-of-proceeds entry by identifier.",
        "operationId": "getLoanAppUseOfProceeds",
        "responses": {
          "200": {
            "description": "The requested use-of-proceeds entry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Partially update an use-of-proceeds entry",
        "description": "Updates only the supplied fields on an existing use-of-proceeds entry.",
        "operationId": "partiallyUpdateLoanAppUseOfProceeds",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated use-of-proceeds entry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Delete an use-of-proceeds entry",
        "description": "Permanently removes an use-of-proceeds entry.",
        "operationId": "deleteLoanAppUseOfProceeds",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The use-of-proceeds entry was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task/": {
      "get": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "List tasks",
        "description": "Tasks track the outstanding work items on a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppTasks",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Retrieve a task",
        "description": "Returns a single task by identifier.",
        "operationId": "getLoanAppTask",
        "responses": {
          "200": {
            "description": "The requested task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Partially update a task",
        "description": "Updates only the supplied fields on an existing task.",
        "operationId": "partiallyUpdateLoanAppTask",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task-comments/": {
      "get": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "List task comments",
        "description": "Comments recorded against a task on a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppTaskComments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of task comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Create a task comment",
        "description": "Creates a new task comment. Comments recorded against a task on a lending application.",
        "operationId": "createLoanAppTaskComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The task comment was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-comments/": {
      "get": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "List comments",
        "description": "Free-text comments recorded against a lending application. Results are returned as a page of records.",
        "operationId": "listLoanAppComments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Create a comment",
        "description": "Creates a new comment. Free-text comments recorded against a lending application.",
        "operationId": "createLoanAppComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The comment was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-comments/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Retrieve a comment",
        "description": "Returns a single comment by identifier.",
        "operationId": "getLoanAppComment",
        "responses": {
          "200": {
            "description": "The requested comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Partially update a comment",
        "description": "Updates only the supplied fields on an existing comment.",
        "operationId": "partiallyUpdateLoanAppComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceRequest"
              },
              "example": {
                "loan_app_id": 4821
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated comment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceRecord"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Loan Tasks and Comments"
        ],
        "summary": "Delete a comment",
        "description": "Permanently removes a comment.",
        "operationId": "deleteLoanAppComment",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "responses": {
          "204": {
            "description": "The comment was deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/affiliated-loans/": {
      "get": {
        "tags": [
          "Affiliated Loans"
        ],
        "summary": "List affiliated loans",
        "description": "Existing SBA loans affiliated with the applicant or its owners. Results are returned as a page of records.",
        "operationId": "listAffiliatedLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of affiliated loans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResourceList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/collateral-assets/": {
      "post": {
        "tags": [
          "Collateral Assets"
        ],
        "summary": "Create a collateral asset",
        "description": "Creates a collateral asset for a lending application.\n\nUse this operation once for each collateral asset. After the asset is\ncreated, use the returned identifier to create any related titled\nassets, lienholders, and pledger associations.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "operationId": "createCollateralAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollateralAssetRequest"
              },
              "example": {
                "loan_app_id": 4821,
                "collateral_type": "Example type",
                "address_id": 1003,
                "description": "Example text supplied by the lender.",
                "gross_value_amount": 250000.0,
                "liquidation_rate_percent": 75.0,
                "lender_lien_position": 1,
                "valuation_source": "Example source"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral asset created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralAsset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/collateral-titled-assets/": {
      "post": {
        "tags": [
          "Titled Assets"
        ],
        "summary": "Create titled-asset details",
        "description": "Adds identifying and ownership information for a titled collateral\nasset, such as a vehicle, vessel, aircraft, or other titled property.\n\nThe requested workflow refers to this operation as\n`POST /titled-assets/`. The documented API path is\n`/collateral-titled-assets/`.\n\nUse the collateral asset identifier returned by\n`POST /collateral-assets/`.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "operationId": "createCollateralTitledAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollateralTitledAssetRequest"
              },
              "example": {
                "collateral_asset_id": 1004,
                "titled_asset_type": "Example type",
                "id_str": "EX-1234567890",
                "make": "Example Manufacturer",
                "model": "Example Model",
                "year": 2026
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Titled-asset details created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralTitledAsset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/collateral-lienholders/": {
      "post": {
        "tags": [
          "Lienholders"
        ],
        "summary": "Add a prior lienholder",
        "description": "Adds a prior lienholder and lien position to a collateral asset.\n\nUse the collateral asset identifier returned by\n`POST /collateral-assets/`.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "operationId": "createCollateralLienholder",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollateralLienholderRequest"
              },
              "example": {
                "loan_app_collateral_id": 1005,
                "lien_position": 1,
                "name": "Rivera Roasters LLC",
                "amount": 250000.0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prior lienholder created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralLienholder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/collateral-pledgers/": {
      "post": {
        "tags": [
          "Pledgers"
        ],
        "summary": "Associate a person or business with collateral",
        "description": "Creates an association between collateral and the person or business\npledging that collateral.\n\nProvide exactly one of `loan_app_company_id` or\n`loan_app_person_id`.\n\nThe pledging person or business must belong to the same lending\napplication as the collateral asset.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "operationId": "createCollateralPledger",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollateralPledgerRequest"
              },
              "example": {
                "loan_app_collateral_id": 1006,
                "loan_app_company_id": 1007,
                "loan_app_person_id": 1008
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral pledger association created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralPledger"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/companies/": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Search and list company profiles",
        "description": "Returns a paginated collection of current company profiles.\nUse `q` to search company names or tax identifiers. Use `tax_id` to filter by tax identifier. Results may be ordered using the `ordering` parameter, and optional related information may be requested with `optional_fields`.",
        "operationId": "listCompanies",
        "parameters": [
          {
            "$ref": "#/components/parameters/OptionalFields"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Case-insensitive search text matched against the company name or tax identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tax_id",
            "in": "query",
            "required": false,
            "description": "Tax identifier used to filter company profiles.",
            "schema": {
              "type": "string",
              "maxLength": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated collection of company profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a company profile",
        "description": "Creates a new current company profile.\nA company name is required. Existing business and mailing addresses may be associated with the company by supplying their numeric identifiers. The website must be a valid reachable URL, and the tax identifier must be valid for the selected tax identifier type.",
        "operationId": "createCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              },
              "example": {
                "tax_id_type": "EIN",
                "tax_id": "12-3456789",
                "name": "Rivera Roasters LLC",
                "legal_entity_type": "Example type",
                "special_ownership_type": "Example type",
                "trade_name": "Rivera Coffee",
                "business_address_id": 1009,
                "mailing_address_id": 1010,
                "franchise_id": "FR-10245"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The company profile was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/companies/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Retrieve a company profile",
        "description": "Returns one current company profile identified by its numeric resource identifier.",
        "operationId": "getCompanyById",
        "parameters": [
          {
            "$ref": "#/components/parameters/OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Update a company profile",
        "description": "Updates a company profile and returns the resulting company information. Fields supplied in the request are validated before the profile is saved.",
        "operationId": "updateCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              },
              "example": {
                "tax_id_type": "EIN",
                "tax_id": "12-3456789",
                "name": "Rivera Roasters LLC",
                "legal_entity_type": "Example type",
                "special_ownership_type": "Example type",
                "trade_name": "Rivera Coffee",
                "business_address_id": 1011,
                "mailing_address_id": 1012,
                "franchise_id": "FR-10245"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The company profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "summary": "Partially update a company profile",
        "description": "Updates only the company profile fields included in the request and returns the updated company information.",
        "operationId": "partiallyUpdateCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequest"
              },
              "example": {
                "tax_id_type": "EIN",
                "tax_id": "12-3456789",
                "name": "Rivera Roasters LLC",
                "legal_entity_type": "Example type",
                "special_ownership_type": "Example type",
                "trade_name": "Rivera Coffee",
                "business_address_id": 1013,
                "mailing_address_id": 1014,
                "franchise_id": "FR-10245"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The company profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/company-snapshots/": {
      "post": {
        "tags": [
          "Company Snapshots"
        ],
        "summary": "Create a historical company snapshot",
        "description": "Creates a point-in-time company record for historical reference, reporting, audit, or business continuity purposes.\nThe optional `cloned_from_id` field may identify the current company profile from which the snapshot originated.",
        "operationId": "createCompanySnapshot",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySnapshotRequest"
              },
              "example": {
                "tax_id_type": "EIN",
                "tax_id": "12-3456789",
                "name": "Rivera Roasters LLC",
                "legal_entity_type": "Example type",
                "special_ownership_type": "Example type",
                "trade_name": "Rivera Coffee",
                "business_address_id": 1015,
                "mailing_address_id": 1016,
                "franchise_id": "FR-10245",
                "cloned_from_id": 1017
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The company snapshot was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/UnsupportedMediaType"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/company-snapshots/{id}/": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": [
          "Company Snapshots"
        ],
        "summary": "Retrieve a historical company snapshot",
        "description": "Returns one historical company snapshot identified by its numeric resource identifier.",
        "operationId": "getCompanySnapshotById",
        "parameters": [
          {
            "$ref": "#/components/parameters/OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySnapshotResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/company-employees/": {
      "get": {
        "tags": [
          "Company Employees"
        ],
        "summary": "Search and list company employees",
        "description": "Returns a paginated collection of people associated with companies.\nUse `company_id` to retrieve employees associated with a specific company. Use `name` to search employees by full name. Results may be ordered and paginated.",
        "operationId": "listCompanyEmployees",
        "parameters": [
          {
            "$ref": "#/components/parameters/OptionalFields"
          },
          {
            "$ref": "#/components/parameters/Ordering"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Numeric identifier of the company whose employees should be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Case-insensitive search text matched against the employee's full name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated collection of company employees.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyEmployeeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          }
        },
        "security": [
          {
            "sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Company Employees"
        ],
        "summary": "Add an employee to a company",
        "description": "Creates an employee profile and associates it with the company identified by `company_id`.\nThe company association is required when creating the employee and cannot be changed after creation.",
        "operationId": "createCompanyEmployee",
        "parameters": [
          {
            "$ref": "#/components/parameters/CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyEmployeeRequest"
              },
              "example": {
                "first_name": "Jordan",
                "last_name": "Rivera",
                "title": "Managing Member",
                "tax_id": "12-3456789",
[...]
