{
  "openapi": "3.0.3",
  "info": {
    "title": "Lending Experience Loans API",
    "description": "OpenAPI description of the lending-experience loan application resources exposed by the Django REST Framework application. Generated from the staging source at commit ca267f4d7dd3d8a66b3bc23393ca3f8a26f284c6.",
    "version": "1.0.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Loan Applications",
      "x-displayName": "Loan Applications"
    },
    {
      "name": "Loan Application Supporting Resources",
      "x-displayName": "Loan Application Supporting Resources"
    },
    {
      "name": "Loan Tasks and Comments",
      "x-displayName": "Loan Tasks and Comments"
    },
    {
      "name": "Affiliated Loans",
      "x-displayName": "Affiliated Loans"
    },
    {
      "name": "loans_other",
      "x-displayName": "other"
    },
    {
      "name": "Collateral Assets",
      "description": "Create collateral assets associated with a lending application.",
      "x-displayName": "Collateral Assets"
    },
    {
      "name": "Titled Assets",
      "description": "Add titled-property information to a collateral asset.",
      "x-displayName": "Titled Assets"
    },
    {
      "name": "Lienholders",
      "description": "Add prior lienholders associated with collateral.",
      "x-displayName": "Lienholders"
    },
    {
      "name": "Pledgers",
      "description": "Associate a business or person with collateral being pledged.",
      "x-displayName": "Pledgers"
    },
    {
      "name": "Companies",
      "description": "Manage current company profiles.",
      "x-displayName": "Companies"
    },
    {
      "name": "Company Snapshots",
      "description": "Preserve and retrieve historical company profiles.",
      "x-displayName": "Company Snapshots"
    },
    {
      "name": "Company Employees",
      "description": "Manage people associated with companies.",
      "x-displayName": "Company Employees"
    },
    {
      "name": "Company Employee Snapshots",
      "description": "Preserve and retrieve historical employee profiles.",
      "x-displayName": "Company Employee Snapshots"
    },
    {
      "name": "Loan Application Documents",
      "description": "Retrieve document requirements for a loan application.",
      "x-displayName": "Loan Application Documents"
    },
    {
      "name": "Document Files",
      "description": "Validate, upload, and download document files.",
      "x-displayName": "Document Files"
    },
    {
      "name": "Loan Application Issues",
      "description": "Operations for issues and requests associated with loan applications.",
      "x-displayName": "Loan Application Issues"
    },
    {
      "name": "Businesses",
      "x-displayName": "Businesses"
    },
    {
      "name": "Individuals",
      "x-displayName": "Individuals"
    },
    {
      "name": "Ownership Relationships",
      "x-displayName": "Ownership Relationships"
    },
    {
      "name": "Business Eligibility",
      "x-displayName": "Business Eligibility"
    },
    {
      "name": "Agents",
      "description": "Organizations or service agents available as reference values.",
      "x-displayName": "Agents"
    },
    {
      "name": "Countries",
      "description": "Countries identified by a short code and display name.",
      "x-displayName": "Countries"
    },
    {
      "name": "Franchises",
      "description": "Franchise reference values identified by a code and display name.",
      "x-displayName": "Franchises"
    },
    {
      "name": "Index Source Rates",
      "description": "Historical and current rate records associated with supported index sources.",
      "x-displayName": "Index Source Rates"
    },
    {
      "name": "NAICS Codes",
      "description": "Industry classification codes and associated eligibility limits.",
      "x-displayName": "NAICS Codes"
    },
    {
      "name": "Applicant Equity Injection Sources",
      "x-displayName": "Applicant Equity Injection Sources"
    },
    {
      "name": "Other Financing Sources",
      "x-displayName": "Other Financing Sources"
    },
    {
      "name": "Loan Application Uses",
      "x-displayName": "Loan Application Uses"
    },
    {
      "name": "Loan Application Use Addresses",
      "x-displayName": "Loan Application Use Addresses"
    },
    {
      "name": "Compliance Checks",
      "description": "Screening results returned by supported compliance services.",
      "x-displayName": "Compliance Checks"
    },
    {
      "name": "Compliance Alerts",
      "description": "Alerts requiring review, resolution, or decline action.",
      "x-displayName": "Compliance Alerts"
    },
    {
      "name": "Validation",
      "description": "Validation execution and validation failure resources.",
      "x-displayName": "Validation"
    }
  ],
  "paths": {
    "/loan-apps/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "List loan applications",
        "description": "Returns a limit/offset-paginated collection filtered by the configured LoanAppFilter and ordering backend.",
        "operationId": "listLoanApps",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_Limit"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Offset"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Ordering"
          },
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          },
          {
            "$ref": "#/components/parameters/1.0.0_LoanAppFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated loan applications.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanAppPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create a loan application",
        "description": "Validates and persists blended LOAPI and LX loan-application data.",
        "operationId": "createLoanApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_LoanAppRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan application created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve a loan application",
        "operationId": "getLoanAppById",
        "responses": {
          "200": {
            "description": "Loan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApp"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Partially update a loan application",
        "operationId": "partiallyUpdateLoanApp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_LoanAppRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated loan application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApp"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/recommend-approval/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Recommend approval",
        "operationId": "recommendLoanAppApproval",
        "responses": {
          "200": {
            "description": "Approval recommendation recorded."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/recommend-rejection/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Recommend rejection",
        "operationId": "recommendLoanAppRejection",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_RecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rejection recommendation recorded."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/submit/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Submit a loan application",
        "operationId": "submitLoanApp",
        "responses": {
          "200": {
            "description": "Loan application submitted."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/decline/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Decline a loan application",
        "operationId": "declineLoanApp",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_RecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Loan application declined."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/approve/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Approve a loan application",
        "operationId": "approveLoanApp",
        "responses": {
          "200": {
            "description": "Loan application approved."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/send-lender-requests/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Send lender requests",
        "operationId": "sendLoanAppLenderRequests",
        "responses": {
          "200": {
            "description": "Lender request state transition completed."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-apps/{id}/associated-documents/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "List associated documents",
        "operationId": "listLoanAppAssociatedDocuments",
        "responses": {
          "200": {
            "description": "Associated document metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/1.0.0_AssociatedDocument"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-project-details/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listLoanAppProjectDetails",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createLoanAppProjectDetails",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-project-details/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getLoanAppProjectDetails",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchLoanAppProjectDetails",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-project-details/{id}/refresh-esri/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "post": {
        "tags": [
          "Loan Application Supporting Resources"
        ],
        "summary": "Refresh ESRI project address data",
        "operationId": "refreshLoanAppProjectDetailsEsri",
        "responses": {
          "200": {
            "description": "ESRI data refreshed when an address exists."
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agents/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agents/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agent-services/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-agent-services/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-credit-unavailable-elsewhere-explanations/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-credit-unavailable-elsewhere-explanations/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-associated-users/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-associated-users/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-terms-periods/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-terms-periods/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-use-of-proceeds/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-use-of-proceeds/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-task-comments/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-comments/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "post": {
        "$ref": "#/components/pathOperations/1.0.0_createGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-comments/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_Id"
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_getGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "patch": {
        "$ref": "#/components/pathOperations/1.0.0_patchGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      },
      "delete": {
        "$ref": "#/components/pathOperations/1.0.0_deleteGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/affiliated-loans/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD deployment URL; the implementation uses an environment-provided host."
        }
      ],
      "get": {
        "$ref": "#/components/pathOperations/1.0.0_listGenericResource",
        "tags": [
          "loans_other"
        ],
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/collateral-assets/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Environment-specific SBA API base URL."
        }
      ],
      "post": {
        "tags": [
          "Collateral Assets"
        ],
        "operationId": "createCollateralAsset",
        "summary": "Create a collateral asset",
        "description": "Creates a collateral asset for a lending application.\n\nUse this operation once for each collateral asset. After the asset is\ncreated, use the returned identifier to create any related titled\nassets, lienholders, and pledger associations.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CollateralAssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral asset created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CollateralAsset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        },
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ]
      }
    },
    "/collateral-titled-assets/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Environment-specific SBA API base URL."
        }
      ],
      "post": {
        "tags": [
          "Titled Assets"
        ],
        "operationId": "createCollateralTitledAsset",
        "summary": "Create titled-asset details",
        "description": "Adds identifying and ownership information for a titled collateral\nasset, such as a vehicle, vessel, aircraft, or other titled property.\n\nThe requested workflow refers to this operation as\n`POST /titled-assets/`. The documented API path is\n`/collateral-titled-assets/`.\n\nUse the collateral asset identifier returned by\n`POST /collateral-assets/`.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CollateralTitledAssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Titled-asset details created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CollateralTitledAsset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ]
      }
    },
    "/collateral-lienholders/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Environment-specific SBA API base URL."
        }
      ],
      "post": {
        "tags": [
          "Lienholders"
        ],
        "operationId": "createCollateralLienholder",
        "summary": "Add a prior lienholder",
        "description": "Adds a prior lienholder and lien position to a collateral asset.\n\nUse the collateral asset identifier returned by\n`POST /collateral-assets/`.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CollateralLienholderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Prior lienholder created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CollateralLienholder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ]
      }
    },
    "/collateral-pledgers/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Environment-specific SBA API base URL."
        }
      ],
      "post": {
        "tags": [
          "Pledgers"
        ],
        "operationId": "createCollateralPledger",
        "summary": "Associate a person or business with collateral",
        "description": "Creates an association between collateral and the person or business\npledging that collateral.\n\nProvide exactly one of `loan_app_company_id` or\n`loan_app_person_id`.\n\nThe pledging person or business must belong to the same lending\napplication as the collateral asset.\n\nThis operation is part of loan-workflow step 7:\nCollateral Detail.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CollateralPledgerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collateral pledger association created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CollateralPledger"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ]
      }
    },
    "/companies/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "listCompanies",
        "summary": "Search and list company profiles",
        "description": "Returns a paginated collection of current company profiles.\nUse `q` to search company names or tax identifiers. Use `tax_id` to filter by tax identifier. Results may be ordered using the `ordering` parameter, and optional related information may be requested with `optional_fields`.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Ordering"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Limit"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Offset"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Case-insensitive search text matched against the company name or tax identifier.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tax_id",
            "in": "query",
            "required": false,
            "description": "Tax identifier used to filter company profiles.",
            "schema": {
              "type": "string",
              "maxLength": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated collection of company profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      },
      "post": {
        "tags": [
          "Companies"
        ],
        "operationId": "createCompany",
        "summary": "Create a company profile",
        "description": "Creates a new current company profile.\nA company name is required. Existing business and mailing addresses may be associated with the company by supplying their numeric identifiers. The website must be a valid reachable URL, and the tax identifier must be valid for the selected tax identifier type.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The company profile was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/companies/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_ResourceId"
        }
      ],
      "get": {
        "tags": [
          "Companies"
        ],
        "operationId": "getCompanyById",
        "summary": "Retrieve a company profile",
        "description": "Returns one current company profile identified by its numeric resource identifier.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "operationId": "updateCompany",
        "summary": "Update a company profile",
        "description": "Updates a company profile and returns the resulting company information. Fields supplied in the request are validated before the profile is saved.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The company profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      },
      "patch": {
        "tags": [
          "Companies"
        ],
        "operationId": "partiallyUpdateCompany",
        "summary": "Partially update a company profile",
        "description": "Updates only the company profile fields included in the request and returns the updated company information.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The company profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/company-snapshots/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "post": {
        "tags": [
          "Company Snapshots"
        ],
        "operationId": "createCompanySnapshot",
        "summary": "Create a historical company snapshot",
        "description": "Creates a point-in-time company record for historical reference, reporting, audit, or business continuity purposes.\nThe optional `cloned_from_id` field may identify the current company profile from which the snapshot originated.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanySnapshotRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The company snapshot was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanySnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/company-snapshots/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_ResourceId"
        }
      ],
      "get": {
        "tags": [
          "Company Snapshots"
        ],
        "operationId": "getCompanySnapshotById",
        "summary": "Retrieve a historical company snapshot",
        "description": "Returns one historical company snapshot identified by its numeric resource identifier.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanySnapshotResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      }
    },
    "/company-employees/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "get": {
        "tags": [
          "Company Employees"
        ],
        "operationId": "listCompanyEmployees",
        "summary": "Search and list company employees",
        "description": "Returns a paginated collection of people associated with companies.\nUse `company_id` to retrieve employees associated with a specific company. Use `name` to search employees by full name. Results may be ordered and paginated.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Ordering"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Limit"
          },
          {
            "$ref": "#/components/parameters/1.0.0_Offset"
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Numeric identifier of the company whose employees should be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Case-insensitive search text matched against the employee's full name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated collection of company employees.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      },
      "post": {
        "tags": [
          "Company Employees"
        ],
        "operationId": "createCompanyEmployee",
        "summary": "Add an employee to a company",
        "description": "Creates an employee profile and associates it with the company identified by `company_id`.\nThe company association is required when creating the employee and cannot be changed after creation.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyEmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The employee profile was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/company-employees/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_ResourceId"
        }
      ],
      "get": {
        "tags": [
          "Company Employees"
        ],
        "operationId": "getCompanyEmployeeById",
        "summary": "Retrieve a company employee",
        "description": "Returns one company employee profile identified by its numeric resource identifier.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company employee profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      },
      "put": {
        "tags": [
          "Company Employees"
        ],
        "operationId": "updateCompanyEmployee",
        "summary": "Update a company employee",
        "description": "Updates an employee profile and returns the resulting employee information. The employee's company association cannot be changed.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyEmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The employee profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      },
      "patch": {
        "tags": [
          "Company Employees"
        ],
        "operationId": "partiallyUpdateCompanyEmployee",
        "summary": "Partially update a company employee",
        "description": "Updates only the employee profile fields included in the request. The employee's company association cannot be changed.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyEmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The employee profile was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/company-employee-snapshots/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "post": {
        "tags": [
          "Company Employee Snapshots"
        ],
        "operationId": "createCompanyEmployeeSnapshot",
        "summary": "Create a historical employee snapshot",
        "description": "Creates a point-in-time employee record for historical reference, reporting, audit, or business continuity purposes.\nThe optional `cloned_from_id` field may identify the current employee profile from which the snapshot originated.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfToken"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_CompanyEmployeeSnapshotRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The employee snapshot was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeSnapshotResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        }
      }
    },
    "/company-employee-snapshots/{id}/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Approved API server URL to be supplied before publication."
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_ResourceId"
        }
      ],
      "get": {
        "tags": [
          "Company Employee Snapshots"
        ],
        "operationId": "getCompanyEmployeeSnapshotById",
        "summary": "Retrieve a historical employee snapshot",
        "description": "Returns one historical employee snapshot identified by its numeric resource identifier.",
        "security": [
          {
            "1.0.0_authenticatedSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_OptionalFields"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested employee snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CompanyEmployeeSnapshotResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        }
      }
    },
    "/loan-app-docs/": {
      "servers": [
        {
          "url": "https://api.example.gov/lender-experience/api/v1",
          "description": "Environment-specific document API base URL."
        }
      ],
      "get": {
        "operationId": "listLoanApplicationDocuments",
        "tags": [
          "Loan Application Documents"
        ],
        "summary": "List loan-application document requirements",
        "description": "Returns document requirements that the authenticated user is\nauthorized to view.\n\nSupply `loan_app_id` to retrieve documents for a specific loan\napplication. Use `limit` and `offset` for pagination.\n\nUse this operation to determine which documents are still needed\nbefore validation or submission.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_LoanAppIdQuery"
          },
          {
            "$ref": "#/components/parameters/1.0.0_LimitQuery"
          },
          {
            "$ref": "#/components/parameters/1.0.0_OffsetQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of loan-application document requirements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApplicationDocumentPage"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/loan-app-doc-files/": {
      "servers": [
        {
          "url": "https://api.example.gov/lender-experience/api/v1",
          "description": "Environment-specific document API base URL."
        }
      ],
      "post": {
        "operationId": "uploadLoanApplicationDocumentFile",
        "tags": [
          "Document Files"
        ],
        "summary": "Upload a PDF document",
        "description": "Uploads a PDF file and associates it with an existing loan-application\ndocument requirement.\n\nThe file must use the `application/pdf` media type and must not exceed\n50 MiB. The file may remain unavailable for download while security\nscanning is in progress.\n\nUse the document requirement identifier returned by\n`GET /loan-app-docs/`.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_DocumentFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The PDF was uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_DocumentFile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/loan-app-doc-files/{id}/download/": {
      "servers": [
        {
          "url": "https://api.example.gov/lender-experience/api/v1",
          "description": "Environment-specific document API base URL."
        }
      ],
      "get": {
        "operationId": "downloadLoanApplicationDocumentFile",
        "tags": [
          "Document Files"
        ],
        "summary": "Download a scanned PDF document",
        "description": "Downloads the PDF associated with an uploaded document file.\n\nThe file is available only after the required security scan has\ncompleted successfully. If scanning is still in progress, the file\nmay not yet be available for download.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_ResourceIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested PDF document.",
            "headers": {
              "Content-Disposition": {
                "description": "Suggested filename for the downloaded document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "description": "The file was not found or is not yet available because security\nscanning has not completed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_Error"
                }
              }
            }
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/loan-app-doc-files/validate/": {
      "servers": [
        {
          "url": "https://api.example.gov/lender-experience/api/v1",
          "description": "Environment-specific document API base URL."
        }
      ],
      "post": {
        "operationId": "validateLoanApplicationDocumentFile",
        "tags": [
          "Document Files"
        ],
        "summary": "Validate a PDF before uploading",
        "description": "Checks whether a file meets the document-upload requirements without\nsaving it.\n\nThe file must be a PDF no larger than 50 MiB. A successful response\nconfirms that the file passed the documented pre-upload validation.\n",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_FileValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The file passed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_ValidationSuccess"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/1.0.0_MethodNotAllowed"
          },
          "415": {
            "$ref": "#/components/responses/1.0.0_UnsupportedMediaType"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/api/v1/loan-app-issues/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD api URL"
        }
      ],
      "get": {
        "tags": [
          "Loan Application Issues"
        ],
        "operationId": "listLoanApplicationIssues",
        "summary": "List loan application issues",
        "description": "Returns a paginated list of active issues associated with loan applications that the signed-in user is authorized to view. Results can be filtered to a specific loan application. Lender-facing users see only requests that have been sent to the lender.",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_LoanApplicationIdQuery"
          },
          {
            "$ref": "#/components/parameters/1.0.0_LimitQuery"
          },
          {
            "$ref": "#/components/parameters/1.0.0_OffsetQuery"
          },
          {
            "$ref": "#/components/parameters/1.0.0_OrderingQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of loan application issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApplicationIssueList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/api/v1/loan-app-issues/{id}/address/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD api URL"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_IssueIdPath"
        }
      ],
      "post": {
        "tags": [
          "Loan Application Issues"
        ],
        "operationId": "markLoanApplicationIssueAddressed",
        "summary": "Mark a lender request as addressed",
        "description": "Marks a lender request as addressed. This action is available only when the request has been sent to the lender, has not been resolved by the center, and is not already marked as addressed. A successful response has no response body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfTokenHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was marked as addressed. No response body is returned."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/api/v1/loan-app-issues/{id}/unaddress/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "TBD api URL"
        }
      ],
      "parameters": [
        {
          "$ref": "#/components/parameters/1.0.0_IssueIdPath"
        }
      ],
      "post": {
        "tags": [
          "Loan Application Issues"
        ],
        "operationId": "markLoanApplicationIssueUnaddressed",
        "summary": "Mark a lender request as unaddressed",
        "description": "Marks a lender request as unaddressed. This action is available only when the request has been sent to the lender, has not been resolved by the center, and is currently marked as addressed. A successful response has no response body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_CsrfTokenHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was marked as unaddressed. No response body is returned."
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_userSession": []
          }
        ]
      }
    },
    "/loan-app-companies/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1"
        }
      ],
      "post": {
        "tags": [
          "Businesses"
        ],
        "operationId": "createBusiness",
        "summary": "Add a business to a lending application",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_GenericRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_GenericResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_AccessDenied"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-persons/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1"
        }
      ],
      "post": {
        "tags": [
          "Individuals"
        ],
        "operationId": "createIndividual",
        "summary": "Add an individual to a lending application",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_GenericRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Individual created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_GenericResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_AccessDenied"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/company-to-person-ownership-snapshots/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1"
        }
      ],
      "post": {
        "tags": [
          "Ownership Relationships"
        ],
        "operationId": "createIndividualBusinessOwnershipRelationship",
        "summary": "Record an individual's ownership of a business",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_GenericRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ownership relationship created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_GenericResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/company-to-company-ownership-snapshots/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1"
        }
      ],
      "post": {
        "tags": [
          "Ownership Relationships"
        ],
        "operationId": "createBusinessOwnershipRelationship",
        "summary": "Record ownership of one business by another",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_GenericRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ownership relationship created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_GenericResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-company-eligibilities/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1"
        }
      ],
      "post": {
        "tags": [
          "Business Eligibility"
        ],
        "operationId": "createOrUpdateBusinessEligibility",
        "summary": "Create or update a business eligibility assessment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_GenericRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business eligibility assessment created or updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_GenericResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_InvalidRequest"
          },
          "404": {
            "$ref": "#/components/responses/1.0.0_NotFound"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/api/v1/agents/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Placeholder server URL; replace with the approved deployment host."
        }
      ],
      "get": {
        "tags": [
          "Agents"
        ],
        "operationId": "listAgents",
        "summary": "Retrieve all available agents",
        "description": "Returns the complete collection of agents available to the authenticated caller. Each result includes the agent identifier, display name, address information when available, and contact-person information when available. This read-only operation does not accept a request body.",
        "security": [
          {
            "1.0.0_webSessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "The agent collection was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_AgentCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        }
      }
    },
    "/api/v1/countries/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Placeholder server URL; replace with the approved deployment host."
        }
      ],
      "get": {
        "tags": [
          "Countries"
        ],
        "operationId": "listCountries",
        "summary": "Retrieve all available countries",
        "description": "Returns the complete collection of countries available as reference data. Each result contains a stable country identifier, a short country code, and a human-readable country name. This read-only operation does not accept a request body.",
        "security": [
          {
            "1.0.0_webSessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "The country collection was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_CountryCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        }
      }
    },
    "/api/v1/franchises/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Placeholder server URL; replace with the approved deployment host."
        }
      ],
      "get": {
        "tags": [
          "Franchises"
        ],
        "operationId": "listFranchises",
        "summary": "Retrieve all available franchises",
        "description": "Returns the complete collection of franchise reference values. Each result includes a stable identifier, franchise code, and display name. This read-only operation does not accept a request body.",
        "security": [
          {
            "1.0.0_webSessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "The franchise collection was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_FranchiseCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        }
      }
    },
    "/api/v1/index-source-rates/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Placeholder server URL; replace with the approved deployment host."
        }
      ],
      "get": {
        "tags": [
          "Index Source Rates"
        ],
        "operationId": "listIndexSourceRates",
        "summary": "Retrieve index source rates",
        "description": "Returns index source rate records available to the authenticated caller. Results include the source name, effective start date and time, optional end date and time, and applicable percentage rate. Use the optional `index_sources` query parameter to request one or more supported sources. Multiple values are supplied as a comma-separated string.",
        "security": [
          {
            "1.0.0_webSessionCookie": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/1.0.0_IndexSources"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested index source rate collection was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_IndexSourceRateCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        }
      }
    },
    "/api/v1/naics-codes/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "Placeholder server URL; replace with the approved deployment host."
        }
      ],
      "get": {
        "tags": [
          "NAICS Codes"
        ],
        "operationId": "listNaicsCodes",
        "summary": "Retrieve all available NAICS industry codes",
        "description": "Returns the complete collection of NAICS industry classification codes available as reference data. Each result includes the classification code, industry name, maximum eligible dollar amount when defined, and maximum eligible employee count when defined. This read-only operation does not accept a request body.",
        "security": [
          {
            "1.0.0_webSessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "The NAICS code collection was retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_NaicsCodeCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        }
      }
    },
    "/applicant-equity-injection-sources/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "API server placeholder"
        }
      ],
      "post": {
        "tags": [
          "Applicant Equity Injection Sources"
        ],
        "operationId": "createApplicantEquityInjectionSource",
        "summary": "Create an applicant equity injection source",
        "description": "Adds an applicant equity injection source to an editable loan application.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_ApplicantEquityInjectionSourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Applicant equity injection source created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_ApplicantEquityInjectionSourceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/other-financing-sources/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "API server placeholder"
        }
      ],
      "post": {
        "tags": [
          "Other Financing Sources"
        ],
        "operationId": "createOtherFinancingSource",
        "summary": "Create an other financing source",
        "description": "Adds financing from a source other than the requested loan or applicant equity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_OtherFinancingSourceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Other financing source created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_OtherFinancingSourceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-uses/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "API server placeholder"
        }
      ],
      "post": {
        "tags": [
          "Loan Application Uses"
        ],
        "operationId": "createLoanApplicationUse",
        "summary": "Create a planned use of loan proceeds",
        "description": "Adds a planned use to an editable loan application. Required fields may depend on the selected use type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/1.0.0_LoanApplicationUseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Planned use created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/1.0.0_LoanApplicationUseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/1.0.0_ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/1.0.0_Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/1.0.0_Forbidden"
          }
        },
        "security": [
          {
            "1.0.0_sessionCookie": []
          }
        ]
      }
    },
    "/loan-app-use-addresses/": {
      "servers": [
        {
          "url": "https://developer.sba.gov/origination/api/v1",
          "description": "API server placeholder"
        }
      ],
      "post": {
        "tags": [
          "Loan Application Use Addresses"
        ],
        "operationId": "createLoanApplicationUseAddress",
        "summary": "Associate an address with a planned use",
        "description": "Associates an existing address with a planned use of loan proceeds.",
        "requestBody": {
          "required": true,
          "content": {
[...]
